$primaryColor : #2b2b2b;
$secondaryColor : #0684d6;
$white : #ddd;

.background-grey{
  background: grey !important;
}

.background-white{
  background: white !important;
}

.background-red{
  background: #ff2525 !important;
}

.background-blue{
  background: #2a53ea !important;
}

.background-yellow{
  background: #cfcf0c !important;
}

.background-pink{
  background: #ff5570 !important;
}